{% extends 'base.html.twig' %}

{% block body %}
    <h1>Listagem de Campeonatos</h1>

    <table class="table table-striped table-hover mt-3">
        <thead>
            <tr>
                <th>Cod.</th>
                <th>Nome</th>
                <th>Organização</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            {% for campeonato in campeonatos %}
            <tr>
                <td>{{ campeonato.id }}</td>
                <td>{{ campeonato.nome }}</td>
                <td>{{ campeonato.organizacao.nome }}</td>
                <td><a href="" class="btn btn-primary">Ver classificação</a></td>
            </tr>
            {% else %}
            <tr>
                <td colspan="3">Nenhum registro encontrado!</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
